* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
}
body {
	width: 100%;
	height: 100%;
}
header {
	background-image: url(images/desktop/image-hero.jpg);
	background-repeat: no-repeat;
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.4);
	background-size: 100% auto;
	height: 90vh;
}
header h1 {
	color: hsl(0, 0%, 100%);
	font-weight: 400;
	text-transform: uppercase;
}
.headerText {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 40%;
	height: 35vh;
	font-size: 40px;
	margin-left: 18rem;
	border: 3px solid white;
}
.mainNav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 30vh;
	padding: 8rem;
}

.navBar li,
.navBar ul,
.navBar a {
	list-style: none;
	text-decoration: none;
	margin-right: 2rem;
	color: hsl(0, 0%, 100%);
}
.navBar {
	display: flex;
}
.navBar a::after {
	content: "";
	display: block;
	width: 0;
	height: 1px;
	background: hsl(0, 0%, 100%);
	transition: width 0.4s ease-in;
}

.navBar a:hover::after {
	width: 100%;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.topContainer {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 10rem;
}
.leftSquare {
	margin-left: 15rem;
}
.rightSquare {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 30%;
	height: 50vh;
	background-color: hsl(0, 0%, 100%);
	margin-left: -10rem;
	margin-bottom: -20rem;
}
.rightSquare p {
	padding-left: 7rem;
	margin-top: 2rem;
}
.rightSquare h2 {
	color: hsl(0, 0%, 0%);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 40px;
	padding-left: 7rem;
}
.midContainer {
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 15rem;
	width: 100%;
}
.textMid {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 4rem 16rem;
}
.textMid h2 {
	text-transform: uppercase;
}
.textMid input {
	width: 10%;
	height: 4vh;
	text-transform: uppercase;
	font-family: "Alata", sans-serif;
	font-weight: 400;
	font-size: 15px;
	background-color: hsl(0, 0%, 100%);
	border: 3px solid hsl(0, 0%, 0%);
	color: hsl(0, 0%, 0%);
	letter-spacing: 5px;
	cursor: pointer;
}
.textMid input:hover {
	background-color: hsl(0, 0%, 0%);
	color: hsl(0, 0%, 100%);
}
.gall {
	display: flex;
	align-items: center;
	justify-content: center;
}
.imagesGall {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 17px;
	width: 100%;
}
.deepEarth {
	width: 25vh;
	height: 45vh;
	border: 1px solid black;
	background-image: url(images/desktop/image-deep-earth.jpg);
	grid-area: 1 / 1 / 2 / 2;
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.nightArcade {
	width: 25vh;
	height: 45vh;
	border: 1px solid black;
	grid-area: 1 / 2 / 2 / 3;
	background-image: url(images/desktop/image-night-arcade.jpg);
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.soccerTeam {
	width: 25vh;
	height: 45vh;
	border: 1px solid black;
	grid-area: 1 / 3 / 2 / 4;
	background-image: url(images/desktop/image-soccer-team.jpg);
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.theGrid {
	width: 25vh;
	height: 45vh;
	border: 1px solid black;
	grid-area: 1 / 4 / 2 / 5;
	background-image: url(images/desktop/image-night-arcade.jpg);
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.fromUpAbove {
	width: 25vh;
	height: 45vh;
	border: 1px solid black;
	grid-area: 2 / 1 / 3 / 2;
	background-image: url(images/desktop/image-from-above.jpg);
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.pocketBorealis {
	width: 25vh;
	height: 45vh;
	border: 1px solid black;
	grid-area: 2 / 2 / 3 / 3;
	background-image: url(images/desktop/image-pocket-borealis.jpg);
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.theCuriosity {
	width: 25vh;
	height: 45vh;
	border: 1px solid black;
	grid-area: 2 / 3 / 3 / 4;
	background-image: url(images/desktop/image-curiosity.jpg);
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.makeitFisheye {
	width: 25vh;
	height: 45vh;
	border: 1px solid black;
	grid-area: 2 / 4 / 3 / 5;
	background-image: url(images/desktop/image-fisheye.jpg);
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.makeitFisheye:hover {
	background-blend-mode: screen;
	background-color: rgba(255, 255, 255, 0.4);
}
.deepEarth h3,
.deepEarth a,
.nightArcade h3,
.nightArcade a,
.soccerTeam h3,
.soccerTeam a,
.theGrid h3,
.theGrid a,
.fromUpAbove h3,
.fromUpAbove a,
.pocketBorealis h3,
.pocketBorealis a,
.theCuriosity h3,
.theCuriosity a,
.makeitFisheye h3,
.makeitFisheye a {
	display: flex;
	color: hsl(0, 0%, 100%);
	justify-content: flex-start;
	align-items: flex-end;
	height: 100%;
	text-transform: uppercase;
	font-weight: 400;
	margin-left: 1rem;
	margin-bottom: 2rem;
	font-size: 25px;
	text-decoration: none;
}
footer {
	display: flex;
	width: 100%;
	height: 20vh;
	background-color: hsl(0, 0%, 0%);
	margin-top: 10rem;
	flex-wrap: wrap;
}
.footerNav {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
	color: hsl(0, 0%, 100%);
}
.footerNav li,
.footerNav ul,
.footerNav a {
	text-decoration: none;
	list-style: none;
	color: hsl(0, 0%, 100%);
	margin-top: 1rem;
	margin-right: 2rem;
}
.footerNav img {
	margin-left: -13rem;
}
.navBarFooter {
	display: flex;
	flex-direction: row;
}
.navBarFooter a {
	margin-top: 2rem;
}
.socials {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
}
.socialsFooter {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
	color: hsl(0, 0%, 100%);
}
.socials a {
	margin-right: 1rem;
}
.facebook {
	display: block;
	background-image: url(images/icon-facebook.svg);
	background-repeat: no-repeat;
	width: 25px;
	height: 24px;
}
.twitter {
	display: block;
	background-image: url(images/icon-twitter.svg);
	background-repeat: no-repeat;
	width: 25px;
	height: 24px;
}
.pinterest {
	display: block;
	background-image: url(images/icon-pinterest.svg);
	background-repeat: no-repeat;
	width: 25px;
	height: 24px;
}
.instagram {
	display: block;
	background-image: url(images/icon-instagram.svg);
	background-repeat: no-repeat;
	width: 25px;
	height: 24px;
}
.copy {
	color: hsl(0, 0%, 55%);
	font-weight: 400;
}
.attribution {
	display: flex;
	align-items: center;
	justify-content: center;
	color: hsl(0, 0%, 55%);
	width: 100%;
}
.attribution a {
	text-decoration: none;
	color: red;
	font-weight: 500;
}
.footerNav a::after {
	content: "";
	display: block;
	width: 0;
	height: 1px;
	background: hsl(0, 0%, 100%);
	transition: width 0.4s ease-in;
}

a:hover::after {
	width: 100%;
}
